// EDgrid
@import "./../../node_modules/ed-grid/ed-grid.scss";
// Navegation
@import "./components/navegation";

@media screen and (max-width: 1023px){
    .ed-header .nav {
        position: fixed;
        left: 0;
        bottom: 0;
        background:  radial-gradient(62.54% 42.86% at 50% 50%, #FF0043 0%, #D80042 31.11%, #A30141 77.38%, #8F0141 100%) !important;
    }

    .ed-header .link {
        color: #FFF !important;
    }

    .ed-header .link.active {
        color: #FFF !important;
    }
}

.icon{font-size: 25px !important;}



